<footer>
  <div class="f-info">
    <div class="f-info-social">
        &copy;
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-threads"></i>
        <i class="fa-brands fa-x-twitter"></i>
    </div>
    <div class="f-info-brand">Parthiv private Limited</div>
    <div class="f-info-links">
        <a href="">Privacy </a>
        <a href=""> terms</a>
    </div>
  </div>
</footer>
